<html lang="en">
  <body>
  <p style="color: black">
    Your registration for the booking portal is completed successful  and pending for Email Verification. please click on this <a style="color: darkblue" href="{{ link | raw }}">
    Link</a>. After verifying Email address you can only able to sign in to your account. If not able to verify by using link copy paste the link given below.
    <br>
    <a style="color: darkblue" href="{{ link | raw }}">{{ link | raw }}</a>.
  </p>
  </body>
</html>